<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="Cats.Scripts.InputOnCursorsvcAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="Cats.Scripts.InputOnCursorsvc">
                <endpoint address="" behaviorConfiguration="Cats.Scripts.InputOnCursorsvcAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Cats.Scripts.InputOnCursorsvc" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
