/* DEFAULTS
----------------------------------------------------------*/

body {
    background: skyblue;
    font-size: .80em;
    font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , 'Lucida Grande' , 'Lucida Sans' , Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

a:link, a:visited {
    color: #034af3;
}

a:hover {
    color:#1d60ff ;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000000;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    color: #000000;
    text-decoration: #000000;
}

h2 {
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    color: #CE0201;
}

h3 {
    font-size: 1.2em;
    
}

h4
{
    font-size: 1.1em;
    
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 85%;
    background-color: skyblue;
    margin: 20px auto 0 auto;
    border: 1px solid #496077;
}

.header {
    position: relative;
    margin: 0;
    padding: 0;
    background: skyblue;
    width: 100%;
    top: 0;
    left: 0;
}

.header h1 {
    font-weight: 600;
    margin: 0;
    padding: 0 0 0 0;
    color: #cc00cc;
    border: none;
    line-height: 2em;
    font-size: xx-large;
    text-align: center;
    width: 100%;
}

.main {
    padding: 0;
    margin: 0;
    min-height: 420px;
    width: 100%;
    background-color: #F7F7F7;
}

.footer
{
    color: #4e5766;
    padding: 8px 0 0 0;
    margin: 0 auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink {
    background-color: #1d60ff;
    width: 100%;
}

div.menu
{
    padding: 4px 0 4px 8px;

}

div.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    color: #CC00CC;
}

div.menu ul li a, div.menu ul li a:visited {
    background-color: fuchsia;
    border: 1px black solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #CE0201;
    color: #ffffff;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #CE0201;
    color: #ffffff;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

/* MISC  
----------------------------------------------------------*/

.clear {
    clear: both;
    text-align: center;
}

.title {
    padding: 0;
    display: block;
    text-align: center;
    width: 100%;
    float: left;
    background-color: aqua;
}


.bold {
    font-weight: bold;
}

/* SearchCat  
----------------------------------------------------------*/


.searchCatButtonTable {
    width: 100%;
}

.searchCatButtonTable tr td{
    width: 50%;
}

.searchCatButtonTable tr td input{
    width: 100%;
    height: 40px;
    background-color: hotpink;
    font-size: large;
}

/* Specification Labels
----------------------------------------------------------*/

.specificationsLabelsTable {
    width: 100%;
}

.specificationsLabelsTable tr td{
    width: 16%;
    border-style: double;
    border-width: medium;
}

.specificationsLabelsTable tr td label{
    width: 100%;
}
